<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Utilisateur</title>
</head>
<body>

    <h2>Add Utilisateur</h2>

    <form th:object="${Utilisateur}" th:action="@{/utilisateurs/save}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="nom" th:field="*{nom}" />

        <label for="secondName">Second Name:</label>
        <input type="text" name="prenom" th:field="*{prenom}" />

        <button type="submit">Save</button>
    </form>

</body>
</html>
