<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
</head>
<body>
    <h2>Employee List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="utilisateur : ${utilisateurs}">
                <td th:text="${utilisateur.id}"></td>
                <td th:text="${utilisateur.nom}"></td>
                <td th:text="${utilisateur.prenom}"></td>
                <td th:text="${utilisateur.role}"></td>
				<td><a th:href="@{/utilisateurs/FormUpdate/{id}(id=${utilisateur.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
